---
layout: default
title: "Call for Speakers"
id: speakers
---
<div class='container'>
<h2>{{site.name}} Speakers</h2>

{% for speaker in site.data.speakers %}
<div class='col-md-6'>
<div class='speaker clearfix' id='{{speaker.lastname | downcase}}'>
  <div class='pull-right'>
  {% if speaker.smhandle %}
    <a href='{{speaker.smurl}}' class='{{speaker.smtype}}'>
      <i class='fa fa-{{speaker.smtype}}-square'></i>
      {{speaker.smhandle}}
    </a>
  {% endif %}
  </div>
  <div class='pic'><img src='/img/speakers/{{speaker.lastname | downcase}}.jpg' alt='{{speaker.firstname}} {{speaker.lastname}}'/></div>
  <div class='name'>
    <h3>{{speaker.firstname}} {{speaker.lastname}}</h3>
  </div>
  <div class='talk'>
    <div class='title'>{{speaker.title}}</div>
    {{speaker.body}}
  </div>
  <div class='bio'>
    <div class='title'>Meet {{speaker.firstname}}</div>
    {{speaker.bio | markdownify}}
  </div>
</div>
</div>
{% endfor %}

</div>